.logo_text{
  font-size: 22px;
  text-align: center;
  user-select: none;
  cursor: default;
  color: #ec37fc;
}

.main_menu{
  padding: 0;
  text-align: center;
  margin-top: 5px;
}

.main_menu li:first-child{
  border-top: none;
}

.main_menu li{
  list-style: none;
  cursor: pointer;
  font-size: 18px;
  padding: 8px 0 8px 0;
  border-top: 1px solid gray;
}
