<ion-content [fullscreen]="true">
  <h3 class="logo_text">PinkMasters</h3>
  <ul class="main_menu">
    <li>Главная</li>
    <li>Секундомер</li>
    <li>Записи</li>
    <li>База клиентов</li>
    <li>Сообщения</li>
    <li>Салоны</li>
    <li>Роли</li>
    <li>Услуги</li>
    <li>Категории</li>
    <li>Спящие клиенты</li>
    <li>Промокоды</li>
    <li>Расписание</li>
    <li>Онлайн запись</li>
    <li>Финансы</li>
    <li>События</li>
    <li>Рекорды</li>
    <li>Настройки</li>
    <li>Поддержка</li>
  </ul>
</ion-content>
